/* this block doesn't stay with the app */
#mvpsubmenu #draftsubmenu {display:block;}
#drafthistoryloading, #loadinginfo {font-family: 'Graduate', cursive;}

/* change colors for template */
/* tabs */
.drafttabs {background:#333!important;border:1px solid #777!important;}
.drafttabs a {color:#ddd;border-right:1px solid #777;}
.drafttabs a.selectedtab, .drafttabs a:hover, #franchisetabs a.selectedtab span {background:#555;}
/* franchise tabs when names are displayed */
#franchisetabs a span {color:#ddd;background:#333;border: 1px solid #777;} 
/* pick traded text in comments */
#drafthistoryreport .commentinfo {color:#555;font-size:9px;}
/* loading text */
#drafthistoryloading, #loadinginfo {font-size:40px;color:#aa0;text-shadow: 2px 2px 2px #000;background: rgba(0,0,0,0.8);}
	/* change the height below to match the height of your franchiseicons. Or remove the height, if you don't want the comments to scroll */
#drafthistoryreport .comment .overflow {height:40px;overflow:auto;}

/* functional css */
/* tabs */
.drafttabs, #franchisetabs {overflow-x:auto;white-space:nowrap;margin-bottom:2px!important;}
.drafttabs a {display:inline-block;padding:10px 20px;}
.drafttabs a:hover, #franchisetabs a:hover {cursor:pointer;}
#franchisetabs {display: flex;}
#franchisetabs a {flex:1;}
#franchisetabs a:nth-of-type(2) span {padding:10px;} 
#franchisetabs a:first-of-type, #franchisetabs a span {width:100%;min-height:100%;display: flex;align-items: center;justify-content: center;} 
#franchisetabs img {width:100%;min-width:80px;opacity:0.5;}
#franchisetabs a.selectedtab img, #franchisetabs img:hover {opacity:1;} 
/* table */
#drafthistoryreport th:first-child, #drafthistoryreport th.points, #drafthistoryreport th.playerpos, #drafthistoryreport th.playerpoints {width:0;white-space:nowrap;}
#drafthistoryreport .player {width:300px;}
#drafthistoryreport .playerpoints {text-align:right;}
/* loading text */
#drafthistoryloading {position:fixed;z-index:99999;top:0;left:0;width:100vw;height:100%;font-weight:bold;margin:auto;text-align:center;}
#drafthistoryloading div {position:relative;top:40%;}
#loadinginfo {font-size:20px;padding: 10px 0;height:50px;}
#loadinginfo {font-weight:bold;text-align:center;}
#loadinginfo div:first-child {width:49.5%;float:left;text-align:right;}
#loadinginfo div:last-child {width:49.5%;float:right;text-align:left;}

