/*
To do:
-add trade calculator
-add trade offer calculator
-fix trade response button
-add salary adjust row if not present 
-fix salary adjust row for left roster (sometimes works). not working on right side sometimes too
-Make tables sortable
-consolidate columnToggle() into loops for the i toggle class
-consolidate posfill() main roster code like ir/ts. see if arrays are needed or just variables
-add current year draft picks
-fix advanced layout toggle
-create toggle for addedrow
-append the table header rows instead of appending player rows. This will load faster (how when zero players?)
*/

#mvpsubmenu #leaguesubmenu {display:block;}
/*.report {border:1px solid #f00!important;}*/
#rosters input[type=checkbox] {display:none;}

/* loader */
#roster_loader {position:fixed;z-index:9999;left: 50%;transform: translate(-50%, 0);width:200px;height:200px;text-align:center;background: rgb(0, 0, 0, .8);border-radius:8px;}
#loadingbar {display:none;width:100%;height:30px;margin: 4px auto;padding:5px;color:#aa0;font-weight:bold;background:#222;border:1px solid #777;border-radius:8px;}

/* Basic formatting */
#noroster {display:none;}
#to_me, #from_me, #roster_icons, #roster_left, #roster_right {display:none;}

/* settings */
/* #roster_col, #roster_trade, #roster_trade span:nth-of-type(2), #roster_trade span:nth-of-type(3), #roster_trade span:nth-of-type(4), #roster_trade span:nth-of-type(5) {display:none;} */
#roster_settings {width:100%;margin: 4px auto;padding:5px;background: rgb(20,20,20,1);border:1px solid #222;border-radius:5px;}
/* #roster_settings {padding:10px;border-bottom: 1px solid var(--light-accent);}*/
#roster_settings span {white-space:nowrap;margin:6px;cursor:pointer;-webkit-touch-callout: none;-webkit-user-select: none;-ms-user-select: none;user-select: none;}
#roster_settings .fa-toggle-on {color: #3c3;}
#roster_settings .fa-toggle-off {color: var(--warning-text);}

/* roster icons */
#roster_icons {display:flex;text-align:center;padding: 10px 0;}
#roster_icons a {flex:1;}
#roster_icons img {width:100%;min-width:100px;height:auto;cursor:pointer;opacity:0.3;}
#roster_icons img.selected, #roster_icons img:hover {opacity:1;}

/* rosters container */
#rosters_wrapper {display: grid;grid-template-columns: 1fr 1fr;}
#rosters #roster_left, #rosters #roster_right {vertical-align:top;}

/* rosters */
/*#roster_right .report, */
#roster_hidden .report {display:none;}
/*#roster_right .report:first-of-type {display:table;}*/
#rosters .report th {white-space:nowrap;background:#555;color:#ddd;}
#rosters .report .s_adjust_row th {border-bottom:1px solid #000;}
#rosters .report .salary_cap_row th, 
#rosters .report .total_salary_row th, 
#rosters .report .cap_room_available_row th, 
#rosters .report .s_adjust_row th {text-align:right;}
#rosters .report td.tradebox {text-align:center;cursor:pointer;}
#rosters .report td.tradebox .fa {font-size:16px;padding: 0 5px;}
#rosters .report i.fa-toggle-on {color: var(--first-color);}
#rosters .report tr.selected td, #rosters .report tr.selected td a {background: var(--mid-darker)!important;color: var(--first-color)!important}
/* #rosters .report new_newpositon td {border-top:0;} */
#rosters .oddtablerow.addedrow td, #rosters .eventablerow.addedrow td {color: #000!important;background:#000!important;}
#rosters .report .oddtablerow td, #rosters .report .eventablerow td {padding:5px;}
#rosters .report .report {padding:0;margin-bottom:10px;}
#rosters .report .tradebox {width:40px;max-width:40px;}
#rosters .report .points {width:60px;max-width:60px;}
#rosters .report .week {width:30px;max-width:30px;}
#rosters .report .salary {width:60px;max-width:60px;}
#rosters .report .contractyear {width:35px;max-width:35px;}
#rosters .report .player {width:250px;max-width:250px;overflow-x:auto;}
#rosters .report .contractinfo {width:60px;max-width:60px;overflow-x:auto;font-size:7px;}
#rosters .report .drafted {width:60px;max-width:60px;overflow-x:auto;font-size:8px;}

/* trade buttons */
#rosters #propose_trade_buttons {display:none;}
#rosters #email_message {margin-top:20px;}
#rosters #email_message textarea {width:100%;margin:1px;}
